<div class="modal fade" id="adfhsdgfh" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Sign Up</h4>
      </div>
      <div class="modal-body">
      <% byebug %>
      <%= radio_button_tag(:age, "child") %>
      <%= radio_button_tag(:age, "child") %>
        <%= render "registrations/signupform" %>
       
      </div>       
      
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
        Close
        </button>
      </div>
    </div>    
  </div>
</div>
</div>